@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* variaveis de cores */
    --bgcolor: #0F021B;
    --cor-fonte-principal: #FFFFFF;
    --cor-fonte-subtitulo: #D7D5EB;
    --cor-fonte-secundaria: #8A87AA;
    --cor-fundo-output: #2C1746;
    --cor-fundo-retangulo: #180828;
    --cor-borda-retangulo: #694A81;
    --cor-botao: #FD58FF;
    --cor-fraca: #E71B32;
    --cor-media: #FAF408;
    --cor-forte: #00FF85;

    /* fontes */
    --fonte-principal: 'Roboto Mono', sans-serife;
    --fonte-secundaria: 'Roboto', sans-serife;
}

body {
    background-color: var(--bgcolor);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--cor-fonte-principal);
    font-family: var(--fonte-principal);
    margin-top: 83.77px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
}

.texto-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-weight: 700px;
    font-size: 32px;
    flex-wrap: wrap;
}

p {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor-fonte-secundaria);
    flex-grow: 1;
}

.subtitulo {
    color: var(--cor-fonte-principal);
}

main {
    display: flex;
    flex-direction: column;
    gap: 27.8px;
    align-items: center;
}

.output-senha {
    width: 68.0625rem;
    display: flex;
    background-color: var(--cor-fundo-output);
    padding: 29px 41px;
    justify-content: space-between;
    border-bottom: 4.4px solid var(--cor-botao);
    margin-top: 57px;
    font-weight: 500;
    font-size: 40px;
    flex-grow: 1;
}

.senha {
    color: var(--cor-fonte-principal);
    max-width: 90%;
}

.texto-output {
    display: flex;
    gap: 15px;
    align-items: center;
}

.botao-output {
    display: flex;
    gap: 32px;
    padding-right: 41px;
    cursor: pointer;
}

input {
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-weight: 500;
}

.personalizar {
    background-color: var(--cor-fundo-retangulo);
    width: 68.0625rem;
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 35px 40px 75.28px 40px;
    color: var(--cor-fonte-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 500;
    margin-top: 27.8px;
    border: 1px solid var(--cor-borda-retangulo);
    flex-grow: 1;
    flex-wrap: wrap;
}

.opcoes {
    display: flex;
    gap: 64px;
    justify-content: space-between;
}

h2 {
    font-family: var(--fonte-principal);
    font-size: 28px;
    color: var(--cor-fonte-subtitulo);
}

/* div que representa o tamanho da senha */
.quantidade-caracteres {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* span que imprime o valor do input */
.valor {
    width: 5.3688rem;
    height: 3.4375rem;
    border: 1px solid var(--cor-borda-retangulo);
    background-color: var(--cor-fundo-output);
    text-align: start;
    padding: 0.8125rem 0 0 0.7500rem;
}

/* input range */
.barra {
    background: linear-gradient(to right, var(--cor-fonte-principal) 0%, var(--cor-fonte-principal) 30%, var(--cor-fundo-output) 30%, var(--cor-fundo-output) 100%);
    border: 1px solid transparent;
    border-radius: 10px;
    height: 10px;
    width: 300px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    flex-grow: 1;
}

/* thumb */
.barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--cor-fonte-principal);
    border: none;
    position: relative;
    top: 0;
}

/* thumb para mosila */
.barra::-moz-range-thumb {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--cor-fonte-principal);
    border: none;
    position: relative;
    top: 0;
}

/* div das características da minha senha */
.caracteristica {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* minhas opçoes de características */
.opcao-caracteres {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
}

/* alternativa das características */
.alternativas label {
    display: flex;
    align-items: center;
}

/* meu input checkbox */
.alternativas input {
    width: 24px;
    height: 24px;
    appearance: none;
    border: 1px solid var(--cor-borda-retangulo);
    background-color: var(--cor-fundo-output);
    cursor: pointer;
}

/* fundo e borda quando a box é marcada */
.alternativas input:checked {
    background-color: var(--cor-fonte-principal);
    border: 1px solid var(--cor-fonte-principal);
}

/* ajustando o icone de check */
.alternativas input:checked::before {
    background-image: url('../imagens/check-icone.png');
    background-size: 16px 11px;
    top: 6px;
    left: 4px;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    width: 24px;
    height: 24px;
    display: block;
}

/* barra de força da senha */
.barra-forca-senha {
    width: 300px;
    height: 32px;
    margin-top: 24px;
    background: linear-gradient(to right, var(--cor-fraca) 0%,
            var(--cor-fraca) 33.33%,
            var(--cor-fundo-output) 33.33%,
            var(--cor-fundo-output) 100%);
    flex-grow: 1;
}

/* legenda da barra de forca */
.legenda-forca-senha {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.legenda-forca-senha p {
    font-size: 20px;
    font-weight: 500;
}

/* botão copiar senha */
.botao-container {
    display: flex;
    justify-content: center;
}

.botao-copiar {
    margin-top: 36px;
    margin-bottom: 89.75px;
    width: 154px;
    height: 46px;
    border-radius: 5px;
    background-color: var(--cor-botao);
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    font-weight: 500;
    color: var(--bgcolor);
    cursor: pointer;
}

@media (max-width:800px){
    body{
        height: 100%;
    }

    header{
        justify-content: center;
    }

    .conteudo{
        flex-direction: column;
    }

    .output-senha{
        box-sizing: border-box;
        width: auto;
        justify-content: center;
    }

    .personalizar{
        box-sizing: border-box;
        width: auto;
        justify-content: center;
    }

    .titulo-personalizar{
        text-align: center;
    }

    .opcoes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}