@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* variaveis de cores */
    --bgcolor: #0F021B;
    --cor-fonte-principal: #FFFFFF;
    --cor-fonte-subtitulo: #D7D5EB;
    --cor-fonte-secundaria: #8A87AA;
    --cor-fundo-output: #2C1746;
    --cor-fundo-retangulo: #2C1746;
    --cor-botao: #FD58FF;

    /* fontes */
    --fonte-principal: 'Roboto Mono', sans-serife;
    --fonte-secundaria: 'Roboto', sans-serife;


}

body {
    background-color: var(--bgcolor);
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--cor-fonte-principal);
    font-family: var(--fonte-principal);
    margin-top: 83.77px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.texto-cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-weight: 700px;
    font-size: 32px;
}

p {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor-fonte-secundaria);
}

.subtitulo {
    color: var(--cor-fonte-principal);
}

.output-senha{
    width: 68.0625rem;
    display: flex;
    background-color: var(--cor-fundo-output);
    padding: 29px 41px;
    justify-content: space-between;
    border-bottom: 4.4px var(--cor-botao);
    margin-top: 57px;
}

.texto-output{
    display: flex;
    gap: 15px;
    align-items: center;
}

.botao-output{
    display: flex;
    gap: 32px;
    padding-right: 41px;
}

input{
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-weight: 500;
}